<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"Transitional"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="en">
<head>
    <link href="/media/css/default.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="container">
        <div id="header">
            <h1 class="left" id="title" > & Genitura</h1>
            <ul class="nav right" id="switch_lang" >
                {% if lang == 'fr' %}
                <li> <a href="/lang/en">English</a> </li>
                <li><u><a href="/lang/fr">Fran&ccedil;ais</a></u></li>
                {% else %}
                <li><u><a href="/lang/en">English</a></u></li>
                <li><a href="/lang/fr">Fran&ccedil;ais</a></li>
                {% endif %}
            </ul>
            <div class="clear"></div>
            <ul class="nav left">
                <li><a href="/">{% trans "Home" %}</a></li>
                <li><a href="/about">{% trans "About" %}</a></li>
                <li><a href="/photos">{% trans "Images" %}</a></li>
                <li><a href="/news">{% trans "News" %}</a></li>
            </ul>
            <ul class="nav right">
                {% if islogged %}
                <li>{{logged.username}}</li>
                <li><a href="/logout">{% trans "Logout" %}</a></li>
                {% else %}
                <li><a href="/login">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clear"></div>
        <div id="content">
        {% block body %}
        {% endblock %}
        </div>
        <div id="footer">
            <p>Heptacube Inc.</p>
        </div>
    </div>
</body>
</html>

