PHP CODE SNIFFER REPORT SUMMARY
--------------------------------------------------------------------------------
FILE                                                            ERRORS  WARNINGS
--------------------------------------------------------------------------------
/home/julien/workspace/Genitura/src/apps/auth/controllers.php   10      0
/home/julien/workspace/Genitura/src/apps/auth/init.php          2       0
/home/julien/workspace/Genitura/src/apps/cms/controllers.php    5       0
/home/julien/workspace/Genitura/src/apps/cms/faq.php            28      0
/home/julien/workspace/Genitura/src/apps/cms/init.php           2       0
/home/julien/workspace/Genitura/src/apps/cms/pages.php          34      0
/home/julien/workspace/Genitura/src/apps/cms/urls.php           9       0
...ulien/workspace/Genitura/src/apps/flatpages/controllers.php  3       0
/home/julien/workspace/Genitura/src/apps/flatpages/init.php     2       0
/home/julien/workspace/Genitura/src/apps/lang/controllers.php   12      0
/home/julien/workspace/Genitura/src/apps/lang/init.php          2       0
/home/julien/workspace/Genitura/src/apps/lang/urls.php          1       0
/home/julien/workspace/Genitura/src/apps/users/controllers.php  113     13
/home/julien/workspace/Genitura/src/apps/users/init.php         3       0
/home/julien/workspace/Genitura/src/configs.inc.php             7       0
...julien/workspace/Genitura/src/include/errors/exceptions.php  7       0
/home/julien/workspace/Genitura/src/include/helpers/errors.php  7       0
/home/julien/workspace/Genitura/src/include/helpers/render.php  7       0
.../julien/workspace/Genitura/src/include/helpers/requests.php  8       0
.../julien/workspace/Genitura/src/include/helpers/security.php  28      0
...ulien/workspace/Genitura/src/include/helpers/singletons.php  15      0
/home/julien/workspace/Genitura/src/include/helpers/upload.php  8       0
/home/julien/workspace/Genitura/src/include/models/Faq.php      8       1
.../julien/workspace/Genitura/src/include/models/MailQueue.php  7       1
/home/julien/workspace/Genitura/src/include/models/Pages.php    7       1
/home/julien/workspace/Genitura/src/include/models/Prefs.php    7       1
/home/julien/workspace/Genitura/src/include/models/Session.php  12      1
/home/julien/workspace/Genitura/src/include/models/User.php     14      1
...workspace/Genitura/src/include/models/generated/BaseFaq.php  19      1
...ace/Genitura/src/include/models/generated/BaseMailQueue.php  25      1
...rkspace/Genitura/src/include/models/generated/BasePages.php  17      1
...rkspace/Genitura/src/include/models/generated/BasePrefs.php  19      1
...space/Genitura/src/include/models/generated/BaseSession.php  21      1
...orkspace/Genitura/src/include/models/generated/BaseUser.php  23      1
/home/julien/workspace/Genitura/src/include/session/auth.php    10      0
...en/workspace/Genitura/src/include/session/session_class.php  89      5
/home/julien/workspace/Genitura/src/include/sql/sql_class.php   71      4
...julien/workspace/Genitura/src/include/sql/sql_statement.php  14      1
.../julien/workspace/Genitura/src/include/template/filters.php  9       0
...en/workspace/Genitura/src/include/template/select_class.php  244     12
/home/julien/workspace/Genitura/src/router.php                  13      0
/home/julien/workspace/Genitura/src/urls.php                    20      2
--------------------------------------------------------------------------------
A TOTAL OF 962 ERROR(S) AND 49 WARNING(S) WERE FOUND IN 42 FILE(S)
--------------------------------------------------------------------------------
