<?php
/**
 * configs.inc.php
 *
 * main configuration file
 * global adminitration configuration file
 *
 * PHP version 5
 *
 * @category  Config
 * @package   HeptacubeFramework
 * @author    Julien J. Halle <julienhalle@gmail.com>
 * @copyright 2010 Heptacube inc.
 * @link      http://genitura.com/
 */

setlocale(LC_TIME, "fr_FR");

//-- START DEFINE --// 
define("MAIN_URL", $_SERVER['HTTP_HOST']);

//-- File system  --//
$pwd = realpath(dirname(__FILE__)); // here we are
define("ROOT", $pwd);
define('UPLOAD',ROOT.'/upload/');

//-- SQL settings --//
define('SQL_USER','');
define('SQL_PASS','');
define('SQL_DB'  ,'');
define('SQL_HOST','');
define('SQL_URL','mysql:dbname='.SQL_DB.';host='.SQL_HOST);
